aiosqlite
alembic
asyncpg
cryptography
fastapi
google-api-python-client
google-auth
httpx
mangum
passlib[bcrypt]
pydantic[email]
pydantic-settings
python-dotenv
python-multipart
pypdf
openai
python-jose[cryptography]
sqlalchemy
uvicorn[standard]
